<p class="lead">Today you will be completing a couple of tasks that aim to understand processes underlying first impressions of other people based on various characteristics. Press the button below to begin.</p> </p>




